#Assignment : Python - Data Structure

1. What are data structures, and why are they important?
  - Data structures are ways to organize and store data in a computer so that it can be efficiently accessed and manipulated. They are important because they enable efficient data storage, retrieval, and manipulation, which are essential for writing efficient and scalable software.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be modified after creation, while immutable data types cannot. Examples:
  - Mutable: Lists (my_list = [1, 2, 3]; my_list[0] = 4), Dictionaries (my_dict = {"a": 1}; my_dict["b"] = 2)
  - Immutable: Integers (my_int = 5), Strings (my_str = "hello"), Tuples (my_tuple = (1, 2, 3))

3. What are the main differences between lists and tuples in Python?
The main differences are:
  - Mutability: Lists are mutable, while tuples are immutable.
  - Syntax: Lists use square brackets [], while tuples use parentheses ().
  - Use cases: Lists are suitable for dynamic data, while tuples are suitable for static data.

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs, where each key is unique and maps to a specific value. They use a hash table to store and retrieve data efficiently.

5. Why might you use a set instead of a list in Python?
  - might use a set instead of a list when:
  - need to store unique elements.
  - need to perform set operations (e.g., union, intersection).
  - need fast membership testing.

6. What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters. It is different from a list in that:
  - Strings are immutable, while lists are mutable.
  - Strings have additional methods for text manipulation (e.g., upper(), split()).

7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity by being immutable, which means that once a tuple is created, its contents cannot be modified. This prevents accidental or intentional changes to the data.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables, which allows for efficient storage and retrieval of key-value pairs.

9. Can lists contain different data types in Python?
  - Yes, lists can contain different data types in Python, including integers, floats, strings, and other lists.

10. Explain why strings are immutable in Python.
  - Strings are immutable in Python because it allows for:
  - Efficient storage and caching of strings.
  - Thread-safety, as multiple threads can access the same string without fear of modification.
  - Improved security, as immutable strings reduce the risk of buffer overflow attacks.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer advantages over lists when:
  - need to store and retrieve data by key.
  - need fast lookup and insertion times.
  - need to store sparse data.

12. Describe a scenario where using a tuple would be preferable over a list.
  - Using a tuple would be preferable over a list when:
  - need to store a small, fixed-size collection of data.
  - need to ensure data integrity and prevent modification.
  - need to use the data as a dictionary key or set element.

13. How do sets handle duplicate values in Python?
  - Sets in Python automatically eliminate duplicate values, as they only store unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?
  - The in keyword works differently for lists and dictionaries:
  - For lists, in checks if an element is present in the list.
  - For dictionaries, in checks if a key is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, you cannot modify the elements of a tuple because tuples are immutable in Python. Attempting to modify a tuple will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary that contains another dictionary as a value.
  - Use case: Storing complex, hierarchical data.

In [5]:
ice_cream_data = {
    'chocolate': {
        'name': 'Chocolate Fudge',
        'price': 5.00,
        'stock': 15
    },
    'vanilla': {
        'name': 'Classic Vanilla',
        'price': 4.50,
        'stock': 20
    }
}
print(ice_cream_data)

{'chocolate': {'name': 'Chocolate Fudge', 'price': 5.0, 'stock': 15}, 'vanilla': {'name': 'Classic Vanilla', 'price': 4.5, 'stock': 20}}

17. Describe the time complexity of accessing elements in a dictionary?
  - The time complexity of accessing elements in a dictionary is O(1), making it very efficient for lookup and retrieval operations.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries when:
     - to store a collection of items with a specific order.
      - to store a large number of items and memory efficiency is not a concern.
      - to perform operations like indexing, slicing, and concatenation.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because the order of the key-value pairs is not guaranteed. This affects data retrieval in that you cannot rely on the order of the items when iterating over the dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - The main difference between a list and a dictionary in terms of data retrieval is:
      - Lists: You retrieve data by its index (position).
      - Dictionaries: You retrieve data by its key.

In [7]:
## 1. Write a code to create a string with your name and print it.
my_name = input("Your Name")
print(my_name)

Your NameAkash\
Akash\

In [8]:
## 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [9]:
## 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [10]:
## 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [11]:
## 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [12]:
## 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [13]:
## 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [14]:
## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [15]:
## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [16]:
## 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [17]:
## 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [18]:
## 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [19]:
## 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [20]:
## 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [21]:
## 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in my_tuple
print(is_kiwi_in_tuple)

False

In [22]:
## 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [23]:
## 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [24]:
## 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [25]:
## 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [26]:
## 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [29]:
## 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    'name': 'Akash',
    'age': 25,
    'city': 'Patna'
}
print(my_dict)

{'name': 'Akash', 'age': 25, 'city': 'Patna'}

In [32]:
 ## 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
 my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
## 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [34]:
## 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [35]:
## 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in my_dict
print(city_exists)

True

In [37]:
## 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [38]:
## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[1, 14, 16, 34, 60]

In [39]:
## 28. Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
third_element = my_list[2]
print(third_element)

cherry

In [40]:
## 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
## 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}